{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
{{super()}}


<div class="text text-center">
     <h1 class="caja text-center"><span style="font-size: 30pt;"> Especiales</span></h1>
</div>
      <!--  <a class="glyphicon glyphicon-plus-sign" href="/Clientes/Registrar" role="button"><img src="{{url_for('static',filename='imagenes/add.gif')}}">Registrar</a> -->

        <a href="/Especiales/Registrar" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Añadir
    </a>
<h4>
    <table class="table table-dark table-hover table-bordered">
        <thead>
            <th>Id: </th>
            <th>Nombre: </th>
            <th>Descripción: </th>
            <th>Costo: </th>
            <th>Exitencia:  </th>
            <th>Modificar</th>
        </thead>
        {% for especial in especiales %}
                <tr class="active">
                    <td>{{especial.idEspeciales}}</td>
                    <td>{{especial.nombre}}</td>
                    <td>{{especial.descripcion}}</td>
                    <td>{{especial.costo}}</td>
                     <td>{{especial.existencia}}</td>

                    <td><a href="/Especiales/Ver/{{especial.idEspeciales}}"><span class="glyphicon glyphicon-edit"> </span> Detalles </a></td>
                </tr>
        {% endfor %}

    </table>
</h4>
<a class="btn btn-primary btn-lg" href="/Especiales" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
{% endblock %}