{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
<div>
    <h1 class="caja bg-lg text-center">Editar Tipo de Pago</h1>
    <form action="/TipoPago/editar" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="number" name="id" value="{{tipopa.idTipoPago}}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" name="tipo" required maxlength="60" placeholder="Tipo de Pago" class="form-control" value="{{tipopa.tipo}}">
        </div>
            <button type="submit" class="btn btn-default2">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Guardar
            </button>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#borrar">
                <span class="glyphicon glyphicon-trash"></span>
                Eliminar
            </a>
            <a href="/Tarjetas" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Cancelar
            </a>
    </form>
<div id="borrar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Eliminación del Tipo de Pago</h4>
      </div>
      <div class="modal-body">
        <p>¿ Estas seguro de eliminar el Tipo de Pago:<b>{{tipopa.tipo}} ?</b> </p>
      </div>
      <div class="modal-footer">
          <a class="btn btn-primary" href="/TipoPago/eliminar/{{tipopa.idTipoPago}}">Aceptar</a>
          <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>
</div>

{% endblock %}