{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
<head>
  <title>tableToExcel Demo</title>
  <script src="tableToExcel.js"></script>
</head>

    <h1>LISTADO DE PRODUCTOS</h1>
    <div class="table-responsive">
    <table class="table" id="TablaProd">
        <thead>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>CATEGORIA</th>
            <th>STOCK</th>
            <th>PRECIO</th>
            {% if current_user.is_authenticated %}
            <th>EDITAR</th>
            {% endif %}

        </thead>
        {% for prod in productos %}
            <tr>
                <td>{{prod.nombre}}</td>
                <td>{{prod.descripcion}}</td>
                <td>{{prod.categoria.nombre}}</td>
                <td>{{prod.existencia}}</td>
                <td>{{prod.precio}}</td>
                {% if current_user.is_authenticated %}
                <td>
                    <a href="/producto/ver/{{prod.idProducto}}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Detalles
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
        {% if current_user.is_authenticated and current_user.is_admin() or current_user.is_almacenista() %}
    <a href="/Productos/nuevo" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar producto
    </a>
        <input type="button" onclick="tableToExcel('TablaProd', 'Productos')" value="Exportar a Excel">
    {% endif %}
    </div>


{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/productos.js')}}"></script>
<script src="{{url_for('static',filename='js/tableToExcel.js')}}"></script>
{% endblock %}