{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
    <h1>LISTADO DE PRODUCTOS</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>CATEGORIA</th>
            <th>STOCK</th>
            <th>PRECIO</th>
            <th>COMPRAR</th>
            {% if current_user.is_authenticated and current_user.is_admin() %}
            <th>EDITAR</th>
            {% endif %}

        </thead>
        {% for prod in productos %}
            <tr>
                <td>{{prod.nombre}}</td>
                <td>{{prod.descripcion}}</td>
                <td>{{prod.categoria.nombre}}</td>
                <td>{{prod.existencia}}</td>
                <td>{{prod.precio}}</td>
                {% if current_user.is_authenticated and current_user.is_admin() %}
                <td>
                    <a href="/producto/{{prod.idProducto}}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Detalles
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
        {% if current_user.is_authenticated and current_user.is_admin() %}
    <a href="/Productos/nuevo" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar producto
    </a>
    {% endif %}
    </div>

<!-- Cuadro modal para el carrito de compra -->
<div id="producto" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b><p class="text-center">Agregando productos a la Cesta</p></b></h4>
      </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-rounded" height="100%" width="80%" id="imagen">
                </div>
                <div class="col-sm-4">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="number" name="id" id="id" readonly class="form-control">
                </div>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" name="nombre" id="nombre" readonly class="form-control">
                </div>
                <div class="form-group">
                    <label>Descripcion:</label>
                    <textarea name="descripcion" id="descripcion" readonly class="form-control"></textarea>
                </div>
                </div>
                <div class="col-sm-4">
                <div class="form-group">
                    <label>Precio $:</label>
                    <input type="number" name="precio" id="precio" readonly class="form-control">
                </div>
                <div class="form-group">
                    <label>Existencia:</label>
                    <input type="number" name="existencia" id="existencia" readonly class="form-control">
                </div>
                <div class="form-group">
                    <label>Cantidad:</label>
                    <input type="number" name="cantidad" id="cantidad" value="1" min="1" step="1" class="form-control">
                </div>
                <div class="form-group">
                    <label>Total $:</label>
                    <input type="number" name="total" id="total" readonly class="form-control">
                </div>
                </div>
            </div>
              <div id="notificaciones" class="text-center">

              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-default2" id="agregar" onclick="agregarCarrito()">Agregar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>

    </div>

  </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/productos.js')}}"></script>
{% endblock %}